<h1>Tweets</h1>
<%= turbo_stream_from "tweets" %>

<h2 class="mt-3 h4 text-muted">New Tweet</h2>
<div class="card card-body">
  <%= turbo_frame_tag "tweet-form" do %>
  <%# turbo_frame_tag "tweet-form", target: "_top" do %>
    <%= render "tweets/form", tweet: @tweet %>
  <% end %>
</div>

<h2 class="mt-3 h4 text-muted">Tweet Feed</h2>
<%= turbo_frame_tag "tweets" do %>
<%= render @tweets %>
<% end %>
